.vs/
Binaries/Win64/*
DerivedDataCache/
Intermediate/
Saved/
Build/
Release/
Plugins/ML/Binaries/Win64/*
*.sln
*.sdf
*.suo
*.user
*.sln.docstates
*.opendb
*.db
photo.jpg
levelafter.txt
levelbefore.txt
